<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
    <script type="text/javascript" th:src="javascript/jquery.js"></script>
    <script type="text/javascript" th:src="javascript/menu.js"></script>
    <script type="text/javascript" th:src="javascript/select.js"></script>
    <script type="text/javascript" th:src="javascript/jquery/distpicker.data.js"></script>
    <script type="text/javascript" th:src="avascript/jquery/distpicker.js"></script>
    <title></title>
</head>