<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
    <script type="text/javascript" th:src="javascript/jquery.js"></script>
    <script type="text/javascript" th:src="javascript/menu.js"></script>
    <script type="text/javascript" th:src="javascript/select.js"></script>
    <script type="text/javascript" th:src="javascript/jquery/distpicker.data.js"></script>
    <script type="text/javascript" th:src="avascript/jquery/distpicker.js"></script>
    <title></title>
</head>
<body>
<div class="m_right">
    <p></p>
    <div class="mem_tit">收货地址</div>
    <div class="address">
        <div class="a_close"><a href="#"><img th:src="images/a_close.png"/></a></div>
        <table border="0" class="add_t" align="center" style="width:98%; margin:10px auto;" cellspacing="0"
               cellpadding="0">
            <tr>
                <td width="80">收货人姓名：</td>
                <td>配送区域：</td>
                <td>详细地址：</td>
                <td>手机：</td>
                <td>电话：</td>
                <td>电子邮箱：</td>
                <td>标志建筑：</td>
                <td>默认地址</td>
            </tr>
            <tr th:each="address:${addresses}">
                <td th:text="${address.consigneeName}"></td>
                <td th:text="${address.distributionArea}"></td>
                <td th:text="${address.detailedAddress}"></td>
                <td th:text="${address.phone}"></td>
                <td th:text="${address.telNum}"></td>
                <td th:text="${address.email}"></td>
                <td th:text="${address.landmarkBuilding}"></td>
                <td th:text="${address.isDefault}==1?'是':'否'"></td>
                <td><a th:href="@{/getAddressById(id=${address.addressId})}">修改</a><a
                        th:href="@{/deleteById(id=${address.addressId})}">删除</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>