<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统-HTML5后台管理系统</title>
    <meta name="keywords" content="设置关键词..."/>
    <meta name="description" content="设置描述..."/>
    <meta name="author" content="DeathGhost"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="icon" th:href="@{/images/icon/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/javascript/jquery.js}"></script>
    <script th:src="@{/javascript/plug-ins/customScrollbar.min.js}"></script>
    <script th:src="@{/javascript/plug-ins/echarts.min.js}"></script>
    <script th:src="@{/javascript/plug-ins/layerUi/layer.js}"></script>
    <script th:src="@{/javascript/plug-ins/pagination.js}"></script>
    <script th:src="@{/javascript/public.js}"></script>
    <script th:src="@{/javascript/distpicker.data.js}"></script>
    <script th:src="@{/javascript/distpicker.js}"></script>
    <script th:src="@{/javascript/main.js}"></script>
    <script>
        $(document).ready(function () {
            var goodsBrand = $("#goodsBrand").val();
            $.ajax({
                type: "POST",
                url: "/brands/type",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        var name = result[i].brandName;
                        if (name === goodsBrand) {
                            $("#select1").append("<option selected value='" + name + "'>" + name + "</option>")
                        } else {
                            $("#select1").append("<option value='" + name + "'>" + name + "</option>")
                        }
                    }
                }
            })
        })
    </script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="index.html" class="InitialPage"><i class="icon-dashboard"></i>数据概况</a>
            </h2>
            <ul>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-columns"></i>管理员管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/admin/main}">管理员主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/adminAdd}">管理员添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-inbox"></i>用户管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/user/main}">用户主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/userAdd}">用户注册</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>地址管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/address/getAll}">地址主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/addressAdd}">地址添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>广告管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/ad/main}">广告主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/adAdd}">广告添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-external-link"></i>品牌管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/brands/getAll}">品牌主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/brandAdd}">品牌添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-bar-chart"></i>商品管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/goods/getAll}">商品主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/goodsAdd}">商品添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-font"></i>商品详情管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/goodsDetails/getAll}">商品详情主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/goodsDetailsAdd}">商品详情添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-road"></i>订单管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/goodsOrder/getAll}">订单主页面</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-tags"></i>商品分类管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/goodsType/getAll}">商品分类主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/goodsTypeAdd}">商品分类添加</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-filter"></i>新闻管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a th:href="@{/news/main}">新闻主页面</a>
                        </dd>
                        <dd>
                            <a th:href="@{/page/newsAdd}">新闻添加</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </nav>
        <footer class="side-footer">© DeathGhost 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a href="#" target="_blank"><i class="icon-home"></i>前台访问</a>
                    </li>
                    <li>
                        <a><i class="icon-random"></i>清除缓存</a>
                    </li>
                    <li>
                        <a><i class="icon-user"></i>管理员:<em>DeathGhost</em></a>
                    </li>
                    <li>
                        <a><i class="icon-bell-alt"></i>系统消息</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main-cont content mCustomScrollbar">
            <div class="m_right">
                <p></p>
                <div class="mem_tit">商品详情修改</div>
                <div class="address">
                    <form th:action="@{/goodsDetails/updateGoodsDetails}" method="post" enctype="multipart/form-data">
                        <div>
                            <div class="form-group-col-2">
                                <input type="hidden" name="goodsDetailsId" th:value="${details.goodsDetailsId}">
                                商品名字：<label>
                                <input type="text" name="goodsName" th:value="${details.goodsName}">
                            </label><br/>
                                商品产地：<label>
                                <input type="text" name="goodsOrigin" th:value="${details.goodsOrigin}">
                            </label><br/>
                                <input type="hidden" id="goodsBrand" th:value="${details.goodsBrand}">
                                商品品牌：<label for="select1"></label><select name="goodsBrand" id="select1"
                                                                          style="width: 150px;text-align:center"></select><br/>
                                商品重量：<label>
                                <input type="text" name="goodsWeight" th:value="${details.goodsWeight}">
                            </label><br/>
                                规格和包装:

                                <input type="hidden" id="goodsDetailPicture"
                                       th:value="${details.goodsDetailPicture}">
                                商品图片：
                                <div><span id="span1"></span></div>
                                <div>
                                    商品图片：<input type="file" name="file" value="浏览" multiple id="inputs"/><br/>
                                </div>
                                <input type="submit" value="修改">
                                <input type="button" onclick="history.back(-1);" value="返回">
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                var photo = $("#goodsDetailPicture").val();
                                var photos = photo.split("#");
                                for (var i = 0; i < photos.length; i++) {
                                    $("#span1").append("<img style='width: 150px;height: 200px' src='" + photos[i] + "'>")
                                }
                                $("#inputs").change(function () {
                                    var fil = this.files;
                                    for (var i = 0; i < fil.length; i++) {
                                        reads(fil[i]);
                                    }
                                });
                            });
                            function reads(fil) {
                                var reader = new FileReader();
                                reader.readAsDataURL(fil);
                                reader.onload = function () {
                                    $('#inputs').after("<img style='width: 150px;height: 200px' src='" + reader.result + "'>");
                                };
                            }
                        </script>
                        </table>
                    </form>
                </div>
            </div>
        </main>
        <footer class="btm-ft">
            <p class="clear">
                <span class="fl">©Copyright 2016 <a href="#" title="DeathGhost" target="_blank">DeathGhost.cn</a></span>
                <span class="fr text-info">
					<em class="uppercase">
						<i class="icon-user"></i>
						author:deathghost
					</em> |
					<em class="uppercase"><i class="icon-envelope-alt"></i>
						更多模板： <a href="http://www.aspku.com/" target="_blank">源码之家</a>
					</em>
					<a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>捐赠</a>
				</span>
            </p>
        </footer>
    </div>
</div>
<div class="mask"></div>
<div class="dialog">
    <div class="dialog-hd">
        <strong class="lt-title">标题</strong>
        <a class="rt-operate icon-remove JclosePanel" title="关闭"></a>
    </div>
    <div class="dialog-bd">
        <!--start::-->
        <p>这里是基础弹窗,可以定义文本信息，HTML信息这里是基础弹窗,可以定义文本信息，HTML信息。</p>
        <!--end::-->
    </div>
    <div class="dialog-ft">
        <button class="btn btn-info JyesBtn">确认</button>
        <button class="btn btn-secondary JnoBtn">关闭</button>
    </div>
</div>
</body>
</html>