<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.shopping.productserver.mapper.GoodMapper">

    <select id="selectGoodsAll" parameterType="com.dream.shopping.facade.po.Goods"
            resultType="com.dream.shopping.facade.po.Goods">
        select * from goods
        <where>
            <include refid="selectGoods"/>
        </where>
    </select>
    <sql id="selectGoods">
        <if test="goodsTitle!=null and goodsTitle!=''">
            and goodsTitle like #{goodsTitle}
        </if>
        <if test="createTime!=null and createTime!=''">
            and createTime like #{createTime}
        </if>
        <if test="goodsPrice!=null and goodsPrice!=''">
            and goodsPrice like #{goodsPrice}
        </if>
        <if test="goodsPhoto!=null and goodsPhoto!=''">
            and goodsPhoto = #{goodsPhoto}
        </if>
        <if test="goodsType!=null and goodsType!=''">
            and goodsType = #{goodsType}
        </if>
        <if test="quantityInStock!=null and quantityInStock!=''">
            and quantityInStock = #{quantityInStock}
        </if>
        <if test="salesQuantity!=null and salesQuantity!=''">
            and salesQuantity = #{salesQuantity}
        </if>
        <if test="state!=null and state!=''">
            and state = #{state}
        </if>
    </sql>

    <select id="selectGoodsById" parameterType="java.lang.Integer" resultType="com.dream.shopping.facade.po.Goods">
        select *
        from goods
        where goodsId = #{goodsId}
    </select>

    <insert id="insertGoods" parameterType="com.dream.shopping.facade.po.Goods">
        <selectKey keyProperty="goodsId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsTitle != null">
                goodsTitle,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="quantityInStock != null">
                quantityInStock,
            </if>
            <if test="goodsPhoto != null">
                goodsPhoto,
            </if>
            <if test="goodsPrice != null">
                goodsPrice,
            </if>
            <if test="goodsType != null">
                goodsType,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="salesQuantity != null">
                salesQuantity,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsTitle != null">
                #{goodsTitle},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="quantityInStock != null">
                #{quantityInStock},
            </if>
            <if test="goodsPrice != null">
                #{goodsPrice},
            </if>
            <if test="goodsPhoto != null">
                #{goodsPhoto},
            </if>
            <if test="goodsType != null">
                #{goodsType},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="salesQuantity != null">
                #{salesQuantity},
            </if>
        </trim>
    </insert>

    <update id="updateGoods" parameterType="com.dream.shopping.facade.po.Goods">
        update goods set
        <trim suffixOverrides=",">
            <if test="goodsTitle != null">
                goodsTitle = #{goodsTitle},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="quantityInStock != null">
                quantityInStock = #{quantityInStock},
            </if>
            <if test="goodsPrice != null">
                goodsPrice = #{goodsPrice},
            </if>
            <if test="goodsPhoto != null">
                goodsPhoto = #{goodsPhoto},
            </if>
            <if test="goodsType != null">
                goodsType = #{goodsType},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="salesQuantity != null">
                salesQuantity = #{salesQuantity},
            </if>
        </trim>
        where goodsId=#{goodsId}
    </update>

    <delete id="deleteGoodsById" parameterType="java.lang.Integer">
        delete
        from goods
        where goodsId = #{goodsId}
    </delete>
</mapper>