<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.shopping.shoppinguserservice.mapper.UserMapper" >

<resultMap id="BaseResultMap" type="com.dream.shopping.facade.po.User">

    <id column="u_id" property="uId" jdbcType="INTEGER"/>
    <result column="address" property="address" jdbcType="VARCHAR"/>
    <result column="age" property="age" jdbcType="INTEGER"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
    <result column="qq" property="qq" jdbcType="VARCHAR"/>
    <result column="sex" property="sex" jdbcType="VARCHAR"/>
    <result column="tel" property="tel" jdbcType="VARCHAR"/>
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR"/>
    <result column="we_chat" property="weChat" jdbcType="VARCHAR"/>
    <result column="monetary" property="monetary" jdbcType="DOUBLE"/>
    <result column="address_id" property="addressId" jdbcType="VARCHAR"/>
    <result column="balance" property="balance" jdbcType="DOUBLE"/>
    <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
    <result column="integral" property="integral" jdbcType="VARCHAR"/>
    <result column="inviter" property="inviter" jdbcType="VARCHAR"/>
    <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR"/>
    <result column="red_envelopes_value" property="red_EnvelopesValue" jdbcType="DOUBLE"/>
    <result column="red_envelopes_count" property="red_Envelopes_Count" jdbcType="INTEGER"/>
    <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR"/>
    <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR"/>

</resultMap>
    <!-- 动态sql添加 -->
    <insert id="insertUser" parameterType="com.dream.shopping.facade.po.User">
            insert into user
            <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="uId != null">
                    u_id,
                </if>
                <if test="address != null">
                    address,
                </if>
                <if test="age != null">
                    age,
                </if>
                <if test="email != null">
                    email,
                </if>
                <if test="password != null">
                    password,
                </if>
                <if test="qq != null">
                    qq,
                </if>
                <if test="sex != null">
                    sex,
                </if>
                <if test="tel != null">
                    tel,
                </if>
                <if test="userRealName != null">
                    user_real_name,
                </if>
                <if test="weChat != null">
                    we_chat,
                </if>
                <if test="monetary != null">
                    monetary,
                </if>
                <if test="addressId != null">
                    address_id,
                </if>
                <if test="balance != null">
                    balance,
                </if>
                <if test="createTime != null">
                    create_time,
                </if>
                <if test="goodsId != null">
                    goods_id,
                </if>
                <if test="integral != null">
                    integral,
                </if>
                <if test="inviter != null">
                    inviter,
                </if>
                <if test="lastLoginTime != null">
                    last_login_time,
                </if>
                <if test="red_EnvelopesValue != null">
                    red_envelopes_value,
                </if>
                <if test="red_Envelopes_Count != null">
                    red_envelopes_count,
                </if>
                <if test="userIdCard != null">
                    user_id_card,
                </if>
                <if test="userLoginName != null">
                    user_login_name,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="uId != null" >
                    #{uId,jdbcType=INTEGER},
                </if>
                <if test="address != null">
                    #{address,jdbcType=VARCHAR},
                </if>
                <if test="age != null">
                    #{age,jdbcType=INTEGER},
                </if>
                <if test="email != null">
                    #{email,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    #{password,jdbcType=VARCHAR},
                </if>
                <if test="qq != null">
                    #{qq,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    #{sex,jdbcType=VARCHAR},
                </if>
                <if test="tel != null">
                    #{tel,jdbcType=VARCHAR},
                </if>
                <if test="userRealName != null">
                    #{user_real_name,jdbcType=VARCHAR},
                </if>
                <if test="weChat != null">
                    #{we_chat,jdbcType=VARCHAR},
                </if>
                <if test="monetary != null">
                    #{monetary,jdbcType=DOUBLE},
                </if>
                <if test="addressId != null">
                    #{address_id,jdbcType=INTEGER},
                </if>
                <if test="balance != null">
                    #{balance,jdbcType=DOUBLE},
                </if>
                <if test="createTime != null">
                    #{create_time,jdbcType=VARCHAR},
                </if>
                <if test="goodsId != null">
                    #{goods_id,jdbcType=INTEGER},
                </if>
                <if test="integral != null">
                    #{integral,jdbcType=VARCHAR},
                </if>
                <if test="inviter != null">
                    #{inviter,jdbcType=VARCHAR},
                </if>
                <if test="lastLoginTime != null">
                    #{last_login_time,jdbcType=VARCHAR},
                </if>
                <if test="red_EnvelopesValue != null">
                    #{red_envelopes_value,jdbcType=DOUBLE},
                </if>
                <if test="red_Envelopes_Count != null">
                    #{red_envelopes_count,jdbcType=INTEGER},
                </if>
                <if test="userIdCard != null">
                    #{user_id_card,jdbcType=INTEGER},
                </if>
                <if test="userLoginName != null">
                    #{user_login_name,jdbcType=VARCHAR},
                </if>
            </trim>
    </insert>

    <delete id="deleteAll">
        delete from user 
    </delete>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        delete from user where u_id = #{uId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByBatch" parameterType="java.util.List">
        delete from user where u_id in
        <foreach collection="list" item="param" open="(" separator="," close=")">
            #{param.uId,jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="selectByUser" resultMap="BaseResultMap"
            parameterType="com.dream.shopping.facade.po.User"
            resultType="com.dream.shopping.facade.po.User">
        select *from user where 1 = 1
        <trim suffixOverrides=" ">
            <if test="address != null">
                and address like #{address,jdbcType=VARCHAR}
            </if>
            <if test="age != null">
                and age = #{age,jdbcType=INTEGER}
            </if>
            <if test="email != null">
                and email like #{email,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                and qq like #{qq,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                and tel like #{tel,jdbcType=VARCHAR}
            </if>
            <if test="userRealName != null">
                and user_real_name like #{user_real_name,jdbcType=VARCHAR}
            </if>
            <if test="weChat != null">
                and we_chat like #{we_chat,jdbcType=VARCHAR}
            </if>
            <if test="monetary != null">
                and monetary = #{monetary,jdbcType=DOUBLE}
            </if>
            <if test="addressId != null">
                and address_id = #{address_id,jdbcType=INTEGER}
            </if>
            <if test="balance != null">
                and balance = #{balance,jdbcType=DOUBLE}
            </if>
            <if test="createTime != null">
                and create_time = #{create_time,jdbcType=VARCHAR}
            </if>
            <if test="goodsId != null">
                and goods_id = #{goods_id,jdbcType=INTEGER}
            </if>
            <if test="integral != null">
                and integral like #{integral,jdbcType=VARCHAR}
            </if>
            <if test="inviter != null">
                and inviter like #{inviter,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTime != null">
                and last_login_time = #{last_login_time,jdbcType=VARCHAR}
            </if>
            <if test="red_EnvelopesValue != null">
                and red_envelopes_value = #{red_envelopes_value,jdbcType=DOUBLE}
            </if>
            <if test="red_Envelopes_Count != null">
                and red_envelopes_count = #{red_envelopes_count,jdbcType=INTEGER}
            </if>
            <if test="userIdCard != null">
                and user_id_card = #{user_id_card,jdbcType=INTEGER}
            </if>
            <if test="userLoginName != null">
                and user_login_name = #{userLoginName,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" resultType="com.dream.shopping.facade.po.User">
        select *from user where u_id = #{uId,jdbcType=INTEGER}
    </select>

    <update id="updateUser" parameterType="com.dream.shopping.facade.po.User">
        update user
        <set >
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="userRealName != null">
                user_real_name = #{user_real_name,jdbcType=VARCHAR},
            </if>
            <if test="weChat != null">
                we_chat = #{we_chat,jdbcType=VARCHAR},
            </if>
            <if test="monetary != null">
                monetary = #{monetary,jdbcType=DOUBLE},
            </if>
            <if test="addressId != null">
                address_id = #{address_id,jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                create_time = #{create_time,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                goods_id = #{goods_id,jdbcType=INTEGER},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=VARCHAR},
            </if>
            <if test="inviter != null">
                inviter = #{inviter,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                lats_login_time = #{lastLoginTime,jdbcType=VARCHAR},
            </if>
            <if test="red_EnvelopesValue != null">
                red_envelopes_value = #{red_EnvelopesValue,jdbcType=DOUBLE},
            </if>
            <if test="red_Envelopes_Count != null">
                red_envelopes_count = #{red_Envelopes_Count,jdbcType=INTEGER},
            </if>
            <if test="userIdCard != null">
                user_id_card = #{userIdCard,jdbcType=INTEGER},
            </if>
            <if test="userLoginName != null">
                user_login_name = #{userLoginName,jdbcType=VARCHAR},
            </if>
        </set>
        where u_id = #{uId,jdbcType=INTEGER}
    </update>
</mapper>